body {
    background-image: url(https://github.com/SpectralStryker/Morbo/blob/main/Gavyn/Finishering.png?raw=true);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain, 125% 125%;
     }
