body {
    background-image: url(Gavyn/3209214.jpg?raw=true);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain, 150% 150%;
     }
